*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;

}

.box{
    height: 100%;
    background-color: pink;
 display: flex;
justify-content: space-around;
align-items: center;
border-radius: 20px;
border: 1px solid goldenrod;

}

.item{
    width: 50px;
    height: 50px;
    transition: 300ms;
    cursor: pointer;
}

.item:hover{
   transform: scale(1.1);
}

